<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Página de Exclusão de Poster</h1>

    <ul>
        <li><a href="{% url 'skymap:index' %}">Página Inicial</a></li>
        <li><a href="{% url 'skymap:cadastra_poster' %}">Cadastrar Poster</a></li>
        <li><a href="{% url 'skymap:lista_posters' %}">Lista de Posters</a></li>
    </ul>

    <form method="post" style="border: 1px solid #AAA; margin: 64px auto; padding: 32px; width: 50%;">
        {% csrf_token %}

        Você tem certeza que quer excluir o poster <b>{{ poster.nome }}</b>? <br><br>

        <button type="button">
            <a href="{% url 'skymap:lista_posters' %}">Cancelar</a>
        </button>
        <button>Excluir</button>
    </form>
</body>
</html>